


  <div class="col-md-8">
    <div class="row align-items-start">
      <div class="col">
                <div class="card" style="width: 250px;">
                    <div class="card-header">
  Number of Tours               </div>
                    <div class="card-body">
                      <div class="chart-contianer">
                        <canvas id="Mychart">{{chart1}}</canvas>
                        </div>
                        
                    </div>
            </div>
       </div>
     <div class="col">

                <div class="card" style="width: 250px;">
                <div class="card-header"> Income From Tours 
   </div>
                <div class="card-body">
                  <div class="chart-contianer">
                    <canvas id="Mychart2">{{chart2}}</canvas>
                    </div>
                              
                </div>
        
     
    </div>

  </div>
</div>

</div>

