<div class="">
    <form class="" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="mb-4">
        <label class="" for="username">
          Username
        </label>
        <input class="" id="username" type="text"  name="userName" [(ngModel)]="currentUser.userName">
      </div>
      <div class="mb-6">
        <label class="form-control" for="password">
          Password
        </label>
        <input class="" id="password" name="password" type="password"  [(ngModel)]="currentUser.password">
      </div>
      <div>
        <input type="submit" class="btn btn-info" value="Sign in">
         
      </div>
    </form>
  </div>
  

     

{{currentUser|json}}