<div class="col-md-8">
    <div class="row align-items-start">
      <div class="col">
                <div class="card" style="width: 50%;">
                    <div class="card-header">
                      Completed Tours
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">International : 52</h5>
                      <h5 class="card-title">Domestic : 52</h5>
                
                    </div>
            </div>
       </div>
     <div class="col">

                <div class="card" style="width: 50%;">
                <div class="card-header">
                   Places Toured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Europe : 12</h5>
                  <h5 class="card-title">South India : 22</h5>
                  <h5 class="card-title">North India : 12</h5>
                  
            
                </div>
        
     
    </div>

  </div>
</div>

</div>

