<div class="col-md-8">
    <div class="row align-items-start">
      <div class="col">
                <div class="card" style="width: 250px;">
                    <div class="card-header">
 Reviews                    </div>
                    <div class="card-body">
                      <h5 class="card-title">5 Star Reviews : 52/120</h5>
                      <h5 class="card-title">4 Start Reviews : 56/120</h5>
                      <h5 class="card-title">3 Start Reviews : 12/120</h5>
                      
                
                    </div>
            </div>
       </div>
     <div class="col">

                <div class="card" style="width: 250px;">
                <div class="card-header">
Top Reviews                </div>
                <div class="card-body">
                  <h5 class="card-title">Excellent Food</h5>
                  <h5 class="card-title">Knowledgable Guides</h5>
                  <h5 class="card-title">Eleder Care is Excellent</h5>
                  
            
                </div>
        
     
    </div>

  </div>
</div>

</div>

